.profile__subtitle  {
  margin: 0;
  width: 100%;
  font-size: 18px;
  line-height: 1.7;
}
@media screen and (max-width: 705px) {
  .profile__subtitle {
    text-align: center;
    line-height: 1.21;
  }
}
@media screen and (max-width: 550px) {
  .profile__subtitle {
    font-size: 3.27vw;
  }
}

@media screen and (max-width: 428px) {
  .profile__subtitle {
    font-size: 14px;
  }
}