@import url('./__close-btn/profile-form__close-btn.css');
@import url('./__heading/profile-form__heading.css');
@import url('./__input-container/profile-form__input-container.css');
@import url('./__item/profile-form__item.css');
@import url('./__submit-btn/profile-form__submit-btn.css');

.profile-form  {
  position: relative;
  color: #000000;
  width: 430px;
  min-height: 330px;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 34px 36px;
}

@media screen and (max-width: 630px) {
  .profile-form {
    max-width: 68.47%;
    padding: 34px 8.37%;
    border-radius: 3px;
  }
}