.profile__title {
  display: inline-block;
  margin: 0 1.7vw 0 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.33;
  min-width: 201px;
}
@media screen and (max-width: 705px) {
  .profile__title {
    line-height: 1.9;
    padding-top: 18px;
    text-align: center;
  }
}
@media screen and (max-width: 550px) {
  .profile__title {
    font-size: 7.63vw;
  }
}
@media screen and (max-width: 355px) {
  .profile__title {
    font-size: 27px;
    margin: 0;
  }
}