.profile__name {
  display: inline-block;
  margin: 0 1.7vw 0 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.33;
  min-width: 201px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width:auto;
  max-width: 90%;
  vertical-align: -1.01vw;
}
@media screen and (max-width: 1024px) {
  .profile__name {
    font-size: 4.101vw;
    max-width: 85%;
  }
}
@media screen and (max-width: 705px) {
  .profile__name {
    line-height: 1.9;
    padding-top: 18px;
    font-size: 7.63vw;
    text-align: center;
    vertical-align: -5.31vw;
  }
}

@media screen and (max-width: 355px) {
  .profile__name {
    font-size: 27px;
    min-width: 201px;
    margin: 0;
  }
}