.element__image_content_1  {
  background: url('../../../../images/karachaevsk.jpg') center;
  background-size: cover;
}

.element__image_content_2  {
  background: url('../../../../images/elbrus.jpg') center;
  background-size: cover;
}
.element__image_content_3  {
  background: url('../../../../images/dombye.jpg') center;
  background-size: cover;
}
.element__image_content_4  {
  background: url('../../../../images/kamchatka.jpg') center;
  background-size: cover;
}
.element__image_content_5  {
  background: url('../../../../images/moscow.jpg') center;
  background-size: cover;
}
.element__image_content_6  {
  background: url('../../../../images/tbilisi.jpg') center;
  background-size: cover;
}