@import url('./__image/element__image.css');
@import url('./__caption/element__caption.css');
@import url('./__like-button/element__like-button.css');

.element  {
  min-width: 32.046%;
  margin-right: calc(3.8% / 2);
  margin-bottom: 21px;
  color: #000000;
  background-color: #FFFFFF;
  border-radius: 10px;
  overflow: hidden;
}

.element:nth-child(3n) {
  margin-right: 0;
}

@media screen and (max-width: 1120px) {
  .element  {
  min-width: 49.01%;
  margin-right: calc(3.931% / 2);
  margin-bottom: 20px;
}
.element:nth-child(3n) {
  margin-right: calc(3.931% / 2);
}
.element:nth-child(2n) {
  margin-right: 0;
}
}


@media screen and (max-width: 705px) {
  .element  {
  min-width: 100%;
  margin-right: 0;
  margin-bottom: 22px;
}
 
}